.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-font-family: Arial;
    -fx-alignment: CENTER-LEFT;
    -fx-font-weight: bold;
}
.sign-out{
    -fx-background-color: #477859;
    -fx-cursor:hand;
    -fx-background-radius: 10px;
}
.sign-out:hover{
    -fx-background-color: #58ae78;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8,0,0,0);
}